fastapi
uvicorn
sqlalchemy
alembic
python-dotenv
pydantic
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
python-multipart
email-validator
celery
redis
psycopg2-binary
transformers
torch
sentence-transformers
scikit-learn
pandas
numpy
mlflow
optuna
shap
lime
pytest
httpx
streamlit
requests
pandas
plotly
matplotlib
wordcloud
fpdf
